::ng-deep {
    .card-header {
    background-color: #7ED8CF !important;
    color: #ffffff !important;
  
    }
  }
  
  .alljobs-class {
    height: 850px;
    overflow: auto;
    cursor: pointer;
  }