::ng-deep {
    .carousel-inner {
        text-align: center;
    }

    .carousel-control-prev-icon {
        background-color: #7ED8CF !important;    
    }
}


.career-guidance-carousel {
    width: 100%;
}